
*.pyc
.ipynb_checkpoints/readfolder-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
src/.ipynb_checkpoints/ast_builder-checkpoint.py
src/.ipynb_checkpoints/parser-checkpoint.py
test/.ipynb_checkpoints/__init__-checkpoint.py
test/.ipynb_checkpoints/actuator_2p-checkpoint.py
test/.ipynb_checkpoints/actuator_3p-checkpoint.py
test/.ipynb_checkpoints/burner-checkpoint.py
test/.ipynb_checkpoints/wct-checkpoint.py
folderconfig.py
.ipynb_checkpoints/auxiliar-checkpoint.py
.ipynb_checkpoints/folderconfig-checkpoint.py
.ipynb_checkpoints/generatemutations-checkpoint.py
.ipynb_checkpoints/mutations-checkpoint.py
.ipynb_checkpoints/processComments-checkpoint.py
.ipynb_checkpoints/searchSTfiles-checkpoint.py
.ipynb_checkpoints/folderconfig-checkpoint.py
.ipynb_checkpoints/folderconfig-checkpoint.py
.ipynb_checkpoints/folderconfig-checkpoint.py
.ipynb_checkpoints/folderconfig-checkpoint.py
.idea/
*.sh
